.mu-picture__toolbar-cancel {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: 0px 0px;
            }
.mu-picture__toolbar-clean-active {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -16px 0px;
            }
.mu-picture__toolbar-clean {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: 0px -16px;
            }
.mu-picture__toolbar-clip-active {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -16px -16px;
            }
.mu-picture__toolbar-clip {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -32px 0px;
            }
.mu-picture__toolbar-local-active {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -32px -16px;
            }
.mu-picture__toolbar-local {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: 0px -32px;
            }
.mu-picture__toolbar-mosaic-active {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -16px -32px;
            }
.mu-picture__toolbar-mosaic {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -32px -32px;
            }
.mu-picture__toolbar-ok {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -48px 0px;
            }
.mu-picture__toolbar-picture-active {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -48px -16px;
            }
.mu-picture__toolbar-picture {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -48px -32px;
            }
.mu-picture__toolbar-redo-active {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: 0px -48px;
            }
.mu-picture__toolbar-redo {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -16px -48px;
            }
.mu-picture__toolbar-text-active {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -32px -48px;
            }
.mu-picture__toolbar-text {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -48px -48px;
            }
.mu-picture__toolbar-undo-active {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -64px 0px;
            }
.mu-picture__toolbar-undo {
              display: inline-block;
              vertical-align: middle;
              width: 16px;
              height: 16px;
              background-position: -64px -16px;
            }